<ion-view view-title="Calendar">
    <ion-content class="padding">
        <div class="row">
            <div class="col">
                <calendar selected="vm.day"></calendar>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" ng-repeat="task in vm.toDos">
                    <label>
        <input type="checkbox" ng-model="task.done">
        {{task}}
    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
